<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mogreene.board.dao.BoardDAO">

    <!--동적쿼리 추출-->
    <sql id="search">
        <where>
            <if test="keyword != null and keyword.length > 0">
                board_title LIKE CONCAT('%', #{keyword}, '%')
                OR board_content LIKE CONCAT('%', #{keyword}, '%')
                OR board_writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="categoryNo gt 0">
                <trim prefix="and">
                    b.category_no = #{categoryNo}
                </trim>
            </if>
            <if test="from != null and to != null">
                <trim prefix="and">
                    board_reg_date BETWEEN date(#{from}) AND date(#{to})
                </trim>
            </if>
        </where>
    </sql>

    <!--게시글 개수 + 검색조건 데이터-->
    <select id="totalCount" resultType="int">
        SELECT COUNT(board_no)

        FROM board AS b

        <include refid="search"/>
    </select>

    <!--페이지 네이션 + 검색조건 데이터-->
    <select id="getArticleList" resultType="BoardDTO">
        SELECT board_no,
               board_title,
               board_content,
               board_writer,
               board_reg_date,
               board_mod_date,
               board_view,
               c.category_content

        FROM board AS b
            JOIN category AS c
                ON b.category_no = c.category_no

        <include refid="search"/>

        ORDER BY board_no DESC

        LIMIT #{skip}, #{size}
    </select>

    <!--게시글 등록-->
    <insert id="postArticle" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="boardNo" keyColumn="board_no">
        INSERT INTO board
            (category_no, board_title, board_content, board_writer,
             board_password)

        VALUES
            (#{categoryNo}, #{boardTitle}, #{boardContent}, #{boardWriter},
             #{boardPassword})
    </insert>

    <!--게시글 상세조회-->
    <select id="getArticleView" resultType="BoardDTO">
        SELECT board_no,
               board_title,
               board_content,
               board_writer,
               board_reg_date,
               board_mod_date,
               board_view,
               c.category_content,
               (SELECT EXISTS
                   (SELECT 1
                    FROM file
                    WHERE board_no = b.board_no))
               AS is_exist_file

        FROM board AS b
            JOIN category c
                ON c.category_no = b.category_no

        WHERE b.board_no = #{boardNo}
    </select>

    <!--게시글 조회수 증가-->
    <update id="viewCount" parameterType="long">
        UPDATE board

        SET board_view = board_view + 1

        WHERE board_no = #{boardNo}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteArticle" parameterType="long">
        DELETE FROM board

        WHERE board_no = #{boardNo}
    </delete>

    <!--게시글 수정-->
    <update id="modifyArticle" parameterType="BoardDTO">
        UPDATE board

        SET board_writer = #{boardWriter},
            board_title = #{boardTitle},
            board_content = #{boardContent},
            board_mod_date = current_timestamp

        WHERE board_no = #{boardNo}
    </update>

    <!--게시글 수정시 비밀번호 비교-->
    <select id="dbPassword" resultType="String">
        SELECT board_password

        FROM board

        WHERE board_no = #{boardNo}
    </select>

    <!--게시글 존재여부 확인-->
    <select id="findByBoardNo" resultType="Boolean">
        SELECT board_no

        FROM board

        WHERE board_no = #{boardNo}
    </select>
</mapper>
