<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mogreene.board.dao.CategoryDAO">
    <select id="getCategoryNum" resultType="String">
        SELECT c.category_content

        FROM board AS b
                 JOIN category AS c
                      ON b.category_no = c.category_no

        WHERE b.board_no = #{boardNo}
    </select>
</mapper>
